.popup {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
}

.navbarButton {
    margin-left: 5%;
    background-color: aliceblue;
}